<h1>Doogle</h1>
<input type="text">
<input type="button" value="Doogle Search">
<ul id="search-results"></ul>

<script type="text/javascript">
  $(function() {
      window.router = new DoogleApp.Routers.WordDefRouter();
      Backbone.history.start();
  });
</script>